name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to Server
      env:
        PRIVATE_KEY: ${{ secrets.EC2_KEY }}
        HOST: ${{ secrets.EC2_HOST }}
        USER: ${{ secrets.EC2_USER }}
        TARGET_DIR: "/home/ubuntu/projects/avg_project"
      run: |
        # -------------------------------------------------------
        # 1. Generate SSH Key Securely
        # -------------------------------------------------------
        mkdir -p ~/.ssh
        echo "$PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

        # 2. Add the server to known_hosts
        ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts

        # -------------------------------------------------------
        # 3. Copy Files to Server (Rsync)
        # -------------------------------------------------------.
        rsync -avz --delete --exclude '.git' --exclude '.github' -e "ssh -i ~/.ssh/id_rsa" ./ $USER@$HOST:$TARGET_DIR

        # -------------------------------------------------------
        # 4. Connect to Server and Restart Docker
        # -------------------------------------------------------
        ssh -i ~/.ssh/id_rsa $USER@$HOST << EOF
          # Go to target folder
          cd $TARGET_DIR
          
          echo "Containers are being stopped..."
          sudo docker compose down
          
          echo "Containers are being rebuilt and started..."
          sudo docker compose up -d --build
          
          sudo docker system prune -f
        EOF